<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@1.3"/>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.6.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@338.va_0a_b_50e29397">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>STUDY_ID</name>
          <defaultValue>phs003463</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <defaultValue>v5</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>STUDY_ABV</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>recover_adult</string>
              <string>recover_autopsy</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
mkdir ${STUDY_ID}
cd ${STUDY_ID}
conn_user=&apos;postgres&apos;
conn_pass=`aws secretsmanager get-secret-value --secret-id &apos;rds!db-2b115560-c8c4-4cec-8418-537a35f9c192&apos; --region &apos;us-east-1&apos; --query SecretString --output text | jq -r .password`
database_psql_host_address=&apos;recoverdb.cljahwnkfisu.us-east-1.rds.amazonaws.com&apos;

dbname=&quot;${STUDY_ABV,,}_${VERSION,,}&quot;
#dbname=&quot;${STUDY_ABV,,}&quot;
PGPASSWORD=&quot;$conn_pass&quot; psql --host=&quot;$database_psql_host_address&quot; --port=&quot;5432&quot; --username=&quot;$conn_user&quot; --dbname=&quot;${dbname}&quot; --csv -Atc \
&quot;select json_agg(meta) from metadata_output.metadata meta&quot; -o ${STUDY_ID}_${STUDY_ABV,,}_metadata.json

aws sts assume-role --duration-seconds 3600 --role-arn arn:aws:iam::736265540791:role/dbgap-etl --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt     
export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
rm -f assume-role-output.txt
aws s3 cp ${STUDY_ID}_${STUDY_ABV,,}_metadata.json s3://avillach-73-bdcatalyst-etl/${STUDY_ABV,,}/decoded_data/
aws s3 cp ${STUDY_ID}_${STUDY_ABV,,}_metadata.json s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/${STUDY_ID}/metadata/
unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY
unset AWS_SESSION_TOKEN


aws sts assume-role --duration-seconds 3600 --role-arn arn:aws:iam::736265540791:role/dbgap-etl --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt
export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
rm -f assume-role-output.txt
aws s3 cp merged/${STUDY_ABV,,}_metadata.json s3://avillach-73-bdcatalyst-etl/${STUDY_ABV,,}/decoded_data/
# Sub-type the clinical data

if [[ &quot;${STUDY_ABV,,}&quot; == &quot;recover_adult&quot; ]]; then
  aws s3 cp &quot;merged/${STUDY_ABV,,}_metadata.json&quot; \
    &quot;s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/${STUDY_ID}/metadata/${STUDY_ABV,,}_metadata.clinical.json&quot;
else
  aws s3 cp &quot;merged/${STUDY_ABV,,}_metadata.json&quot; \
    &quot;s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/${STUDY_ID}/metadata/${STUDY_ABV,,}_metadata.json&quot;
fi
unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY
unset AWS_SESSION_TOKEN
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.49">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>