<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@338.va_0a_b_50e29397">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>study_id</name>
          <description>The phs for the given study. E.g. phs000007</description>
          <defaultValue>phs000007</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>study_abv</name>
          <description>The study abbreviation. E.g. FHS</description>
          <defaultValue>FHS</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@1.3"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.8.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:hms-dbmi/bdc-etl-curation.git</url>
        <credentialsId>git</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/oct_release_updates</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

### assume etl role
aws sts assume-role --duration-seconds 900 --role-arn arn:aws:iam::736265540791:role/dbgap-etl --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt

export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
#export STORAGE_TYPE=&apos;s3&apos;
#export S3_BUCKET=&apos;avillach-73-bdcatalyst-etl&apos;

aws s3 cp s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/${study_id}/metadata/ ./input/${study_id}/rawData/ --recursive --exclude &quot;*&quot; --include &quot;*.manifest.*&quot; --include &quot;${study_id}*.xml&quot; --include &quot;*.json&quot; --quiet
python3 -m compliant_metadata.convert_compliant_data_dict --input-folder &quot;input/${study_id}/rawData/&quot; --output-file &quot;output/${study_id}/metadata/${study_id}_${study_abv,,}_metadata.json&quot;
aws s3 cp ./output/${study_id}/metadata/${study_id}_${study_abv,,}_metadata.json s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/${study_id}/metadata/${study_id}_${study_abv,,}_metadata.json
aws s3 cp ./output/${study_id}/metadata/${study_id}_${study_abv,,}_metadata.json s3://avillach-73-bdcatalyst-etl/${study_abv,,}/decoded_data/${study_id}_${study_abv,,}_metadata.json

unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY
unset AWS_SESSION_TOKEN
unset STORAGE_TYPE
unset S3_BUCKET</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.49">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>