<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@1.3"/>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.6.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@338.va_0a_b_50e29397">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>nhlbi_account_number</name>
          <description>use 7</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>600168050588</string>
              <string>714862078411</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>target_directory</name>
          <description>1st level prefix after bucket_s3_name 
Ex: imaging_aric
</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>internal_visit_name</name>
          <description>Ex: Visit1 or Visit2...etc.

should match the visit being pulled from s3 uri</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>visit_s3_uri</name>
          <description>bucket visit
s3://nih-nhlbi-bdc-imaging-aric-phs003946-v1-r1-c1/V1/</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash
set -euo pipefail

# 0) guard for “imaging*”
#case &quot;${target_directory:-}&quot; in
#  imaging*) ;;
#  *)
#    echo &quot;Error: target_directory must start with &apos;imaging&apos;&quot; &gt;&amp;2
#    exit 1
#    ;;
#esac

# 1) assume role (using aws CLI --query to avoid grep hacks)
creds=$(aws sts assume-role \
  --role-arn &quot;arn:aws:iam::714862078411:role/nih-nhlbi-TopMed-EC2Access-S3&quot; \
  --role-session-name &quot;get-phenotypic-data&quot; \
  --output json)

export AWS_ACCESS_KEY_ID=$(   jq -r .Credentials.AccessKeyId   &lt;&lt;&lt;&quot;$creds&quot;)
export AWS_SECRET_ACCESS_KEY=$(jq -r .Credentials.SecretAccessKey &lt;&lt;&lt;&quot;$creds&quot;)
export AWS_SESSION_TOKEN=$(    jq -r .Credentials.SessionToken    &lt;&lt;&lt;&quot;$creds&quot;)

#imaging-fhs
#aws s3 cp &quot;s3://nih-nhlbi-bdc-imaging-fhs-phs003593-v2-r1-c1&quot; ./c1/ --recursive --exclude &quot;*&quot; --include &quot;*.manifest.*&quot; --include &quot;*DD*&quot; --include &quot;*DS*&quot; --include &quot;*sstr*&quot;
#aws s3 cp &quot;s3://nih-nhlbi-bdc-imaging-fhs-phs003593-v2-r1-c2&quot; ./c2/ --recursive --exclude &quot;*&quot; --include &quot;*.manifest.*&quot; --include &quot;*DD*&quot; --include &quot;*DS*&quot; --include &quot;*sstr*&quot;

#aws s3 cp s3://nih-nhlbi-bdc-connects-activ4a-phs002694-v4-r3-c1 ./activ4a_r3 --recursive

#aws s3 cp s3://nih-nhlbi-bdc-neurocovid-phs004278-v1-r1-c1 ./neurocovid --recursive

#aws s3 cp s3://nih-nhlbi-bdc-rose-ards-phs003929-v1-r1-c1 ./bdc-rose-ards --recursive --exclude &quot;*.fastq.gz&quot;

#aws s3 cp s3://nih-nhlbi-bdc-c4r-copdgene-phs002910-v2-r1-c1 ./copdgene/c1/ --recursive
#aws s3 cp s3://nih-nhlbi-bdc-c4r-copdgene-phs002910-v2-r1-c2 ./copdgene/c2/ --recursive

#aws s3 cp s3://nih-nhlbi-bdc-c4r-fhs-phs002911-v2-r1-c1 ./fhs/c1/ --recursive
#aws s3 cp s3://nih-nhlbi-bdc-c4r-fhs-phs002911-v2-r1-c2 ./fhs/c2/ --recursive

#aws s3 cp s3://nih-nhlbi-bdc-c4r-hchs-sol-phs002908-v2-r1-c1 ./hchssol/c1/ --recursive
#aws s3 cp s3://nih-nhlbi-bdc-c4r-hchs-sol-phs002908-v2-r1-c2 ./hchssol/c2/ --recursive

#aws s3 cp s3://nih-nhlbi-bdc-c4r-mesa-phs003017-v2-r1-c1 ./mesa/c1/ --recursive
#aws s3 cp s3://nih-nhlbi-bdc-c4r-mesa-phs003017-v2-r1-c2 ./mesa/c2/ --recursive

#aws s3 cp s3://nih-nhlbi-bdc-c4r-sarp-phs002913-v2-r1-c1 ./sarp/c1/ --recursive
#aws s3 cp s3://nih-nhlbi-bdc-c4r-sarp-phs002913-v2-r1-c2 ./sarp/c2/ --recursive
#aws s3 cp s3://nih-nhlbi-bdc-c4r-sarp-phs002913-v2-r1-c3 ./sarp/c3/ --recursive
#aws s3 cp s3://nih-nhlbi-bdc-c4r-sarp-phs002913-v2-r1-c4 ./sarp/c4/ --recursive

aws s3 cp s3://nih-nhlbi-bdc-eimpact-trial-phs003283-v1-r1-c1 ./eimpact-trial/ --recursive

unset AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_SESSION_TOKEN</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.49">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>