<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@320.v5a_0933a_e7d61">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>s3_location</name>
          <defaultValue>s3://avillach-73-bdcatalyst-etl/general/resources/Managed_Inputs.csv</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>Managed_Input.csv</name>
        </hudson.model.FileParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>dictionary_control_file.csv</name>
        </hudson.model.FileParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Update_Managed_Inputs</name>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Update_Dictionary_Control_File</name>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

### assume etl role
aws sts assume-role --duration-seconds 900 --role-arn arn:aws:iam::736265540791:role/dbgap-etl --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt

export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`

#ts=$(date +&quot;%Y-%m-%d_%H-%M-%S&quot;)

if [ &quot;${Update_Managed_Inputs}&quot; = &quot;true&quot; ]; then
  # don&apos;t need to do this.  already versioned in google sheets and s3.  It&apos;s just making a mess of the s3 bucket.
  #aws s3 cp s3://avillach-73-bdcatalyst-etl/general/resources/Managed_Inputs.csv s3://avillach-73-bdcatalyst-etl/general/resources/Managed_Inputs.csv_${ts}
  
  # not sure why this is duplicated in different s3 buckets.
  aws s3 cp Managed_Input.csv s3://avillach-73-bdcatalyst-etl/general/resources/Managed_Inputs.csv
  aws s3 cp s3://avillach-73-bdcatalyst-etl/general/resources/Managed_Inputs.csv s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/Managed_Inputs.csv
fi

if [ &quot;${Update_Dictionary_Control_File}&quot; = &quot;true&quot; ]; then

  aws s3 cp dictionary_control_file.csv s3://avillach-73-bdcatalyst-etl/general/resources/dictionary_control_file.csv
  
  #aws s3 cp Dictionary_Control_File.csv s3://avillach-73-bdcatalyst-etl/general/resources/Managed_Inputs.csv s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/Managed_Inputs.csv
fi</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>