<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@332.va_1ee476d8f6d">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>STUDY_ID</name>
          <defaultValue>phs003463</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <defaultValue>v5</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>DATASET_NAME</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>recover_adult</string>
              <string>recover_caregiver</string>
              <string>recover_pediatric</string>
              <string>recover_congenital</string>
              <string>recover_autopsy</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>STUDY_ABV</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>recover_adult_v5</string>
              <string>recover_pediatric</string>
              <string>recover_adult</string>
              <string>recover_autopsy</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
mkdir ${STUDY_ID}.${DATASET_NAME}
cd ${STUDY_ID}.${DATASET_NAME}
dbname=&quot;${DATASET_NAME,,}_${VERSION,,}&quot;
conn_user=&apos;postgres&apos;
conn_pass=`aws secretsmanager get-secret-value --secret-id &apos;rds!db-2b115560-c8c4-4cec-8418-537a35f9c192&apos; --region &apos;us-east-1&apos; --query SecretString --output text | jq -r .password`
database_psql_host_address=&apos;recoverdb.cljahwnkfisu.us-east-1.rds.amazonaws.com&apos;
PGPASSWORD=&quot;$conn_pass&quot; psql --host=&quot;$database_psql_host_address&quot; --port=&quot;5432&quot; --username=&quot;$conn_user&quot; --dbname=&quot;${dbname}&quot; --csv -Atc &quot;select quote_ident(schemaname) || &apos;.&apos; || quote_ident(tablename) from pg_tables where schemaname~&apos;^output&apos;&quot; |\
while read TBL; do
    	PGPASSWORD=&quot;$conn_pass&quot; psql --quiet --host=&quot;recoverdb.cljahwnkfisu.us-east-1.rds.amazonaws.com&quot; \
    	--port=&quot;5432&quot; \
    	--dbname=&quot;${dbname}&quot; \
    	-U $conn_user -c &quot;\COPY (select dbgap_subject_id, * from $TBL left join (select \&quot;SUBJECT_ID\&quot; as subject_id, dbgap_subject_id from resources.telemetry_report) as telemetry on telemetry.subject_id = $TBL.participant_id) TO ./${STUDY_ID}.${DATASET_NAME}_${VERSION}.$TBL.csv with (FORMAT CSV, HEADER TRUE, FORCE_QUOTE *)&quot; &amp;
    	echo Copying &quot;${STUDY_ID}.${DATASET_NAME}.$TBL.csv&quot;
done
wait;
aws sts assume-role --duration-seconds 3600 --role-arn arn:aws:iam::736265540791:role/dbgap-etl --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt
   	 
export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
rm -f assume-role-output.txt


aws s3 cp . s3://avillach-73-bdcatalyst-etl/${STUDY_ABV,,}/decoded_data/ --recursive --exclude &quot;*&quot; --include &quot;*.csv&quot;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.47">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.27"/>
  </buildWrappers>
</project>