<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@338.va_0a_b_50e29397">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>STUDY_ID</name>
          <defaultValue>phs003461</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <defaultValue>v3</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STUDY_ABV</name>
          <defaultValue>recover_pediatric</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@1.3"/>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.6.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
mkdir ${STUDY_ID}
cd ${STUDY_ID}
conn_user=&apos;postgres&apos;
conn_pass=`aws secretsmanager get-secret-value --secret-id &apos;rds!db-2b115560-c8c4-4cec-8418-537a35f9c192&apos; --region &apos;us-east-1&apos; --query SecretString --output text | jq -r .password`
database_psql_host_address=&apos;recoverdb.cljahwnkfisu.us-east-1.rds.amazonaws.com&apos;
  #phs003461 is 3 studies in a single phs trench coat so merge the meta
  mkdir merged
  #pediatric
  PGPASSWORD=&quot;$conn_pass&quot; psql --host=&quot;$database_psql_host_address&quot; --port=&quot;5432&quot; --username=&quot;$conn_user&quot; --dbname=&quot;recover_pediatrics_${VERSION}&quot; --csv -Atc \
  &quot;select json_agg(meta) from metadata_output.metadata meta&quot; -o recover_pediatric_metadata.json
  #congenital
  PGPASSWORD=&quot;$conn_pass&quot; psql --host=&quot;$database_psql_host_address&quot; --port=&quot;5432&quot; --username=&quot;$conn_user&quot; --dbname=&quot;recover_congenital_${VERSION}&quot; --csv -Atc \
  &quot;select json_agg(meta) from metadata_output.metadata meta&quot; -o recover_congenital_metadata.json
  #caregiver
  PGPASSWORD=&quot;$conn_pass&quot; psql --host=&quot;$database_psql_host_address&quot; --port=&quot;5432&quot; --username=&quot;$conn_user&quot; --dbname=&quot;recover_caregiver_${VERSION}&quot; --csv -Atc \
  &quot;select json_agg(meta) from metadata_output.metadata meta&quot; -o recover_caregiver_metadata.json
  jq -s &apos;add&apos; recover_pediatric_metadata.json recover_congenital_metadata.json recover_caregiver_metadata.json &gt; merged/phs003461_recover_pediatric_metadata.json
  
  aws sts assume-role --duration-seconds 3600 --role-arn arn:aws:iam::736265540791:role/dbgap-etl --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt
  export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
  export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
  export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
  rm -f assume-role-output.txt
  aws s3 cp merged/phs003461_recover_pediatric_metadata.json s3://avillach-73-bdcatalyst-etl/${STUDY_ABV,,}/decoded_data/
  aws s3 cp merged/phs003461_recover_pediatric_metadata.json s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/${STUDY_ID}/metadata/phs003461_recover_pediatric_metadata.json
  unset AWS_ACCESS_KEY_ID
  unset AWS_SECRET_ACCESS_KEY
  unset AWS_SESSION_TOKEN
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.49">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>