<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1559.va_a_533730b_ea_d">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.6.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@338.va_0a_b_50e29397">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4238.va_6fb_65c1f699">
    <script>pipeline {
  agent any

  stages {
    stage(&apos;Pull latest stigvars from git&apos;) {
      steps {
        build job: &apos;ETL - Upload stigmatizing variable files from git to s3&apos;
      }
    }

    stage(&apos;Merge global concepts&apos;) {
      steps {
        build job: &apos;ETL - Merge Global Concepts&apos;
      }
    }

    stage(&apos;Merge allConcepts&apos;) {
      steps {
        build job: &apos;ETL - All Concept Data Merge with Data Analyzer&apos;
      }
    }

    stage(&apos;Generate HPDS Javabins&apos;) {
      steps {
        build job: &apos;ETL - Generate Phenotype Javabins Data Analyzer&apos;
      }
    }

    stage(&apos;Dictionary DB Ingest&apos;) {
      steps {
        build job: &apos;Dictionary ETL - BDC Ingest Pipeline&apos;
      }
    }
  }

  post {
    success {
      copyArtifacts(projectName: &apos;Dictionary ETL - Export DB&apos;)
      copyArtifacts(projectName: &apos;ETL - Generate Phenotype Javabins Data Analyzer&apos;)

      archiveArtifacts artifacts: &apos;db_dump_name.txt&apos;, followSymlinks: false
      archiveArtifacts artifacts: &apos;docker/pic-sure-hpds-etl/hpds/data_analyzer_javabin_file_name.txt&apos;, followSymlinks: false
    }
  }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>