<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@1.3"/>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.6.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@338.va_0a_b_50e29397">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>managed_inputs</name>
          <description>Job will decode dbgap raw data and store it decoded dataset in s3.

Parameters:
abv_name = Can be obtained from the Managed Inputs or JIRA ticket
stdy_id = Can be obtained from the Managed Inputs or JIRA ticket
</description>
          <defaultValue>s3://avillach-73-bdcatalyst-etl/general/resources/Managed_Inputs.csv</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>abv_name</name>
          <description>Study&apos;s abbreviated name.</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>stdy_id</name>
          <description>Study&apos;s phs accession</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.8.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/hms-dbmi/ETL-MissionControl-dbgap-submodule</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -euo pipefail
# Simple AWS S3 optimizations
export AWS_MAX_ATTEMPTS=&quot;${AWS_MAX_ATTEMPTS:-10}&quot;
export AWS_RETRY_MODE=&quot;${AWS_RETRY_MODE:-adaptive}&quot;
export AWS_S3_MAX_CONCURRENT_REQUESTS=&quot;${AWS_S3_MAX_CONCURRENT_REQUESTS:-64}&quot;
export AWS_S3_MAX_QUEUE_SIZE=&quot;${AWS_S3_MAX_QUEUE_SIZE:-10000}&quot;
export AWS_S3_MULTIPART_THRESHOLD=&quot;${AWS_S3_MULTIPART_THRESHOLD:-64MB}&quot;
export AWS_S3_MULTIPART_CHUNKSIZE=&quot;${AWS_S3_MULTIPART_CHUNKSIZE:-64MB}&quot;
export AWS_CLI_CONNECT_TIMEOUT=&quot;${AWS_CLI_CONNECT_TIMEOUT:-10}&quot;
export AWS_CLI_READ_TIMEOUT=&quot;${AWS_CLI_READ_TIMEOUT:-0}&quot;

mkdir data
mkdir completed
mkdir hierarchies
mkdir processing

find data/ -type f -exec rm -rf {} \;
find processing/ -type f -exec rm -rf {} \;
find completed -type f -exec rm -rf {} \;

rm -rf uniq_ids.txt
# pull data from raw data s3
aws sts assume-role --duration-seconds 3600 --role-arn arn:aws:iam::736265540791:role/dbgap-etl --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt
export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`

aws s3 cp --no-progress s3://avillach-73-bdcatalyst-etl/${abv_name,,}/rawData/ ./data/ --recursive --exclude &quot;*&quot; --include &quot;${stdy_id,,}*&quot;

#--exclude &quot;*&quot; --include &quot;${stdy_id,,}*&quot;

unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY
unset AWS_SESSION_TOKEN</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
# decode data set
java -jar jars/DbgapDecodeFiles.jar -dictdir &quot;./data/&quot;

EXIT_CODE=$?

# Log the exit code for debugging
echo &quot;DbgapDecodeFiles exited with status $EXIT_CODE&quot;

# Prevent Jenkins from marking the job UNSTABLE or FAILED
exit 0




</command>
      <configuredLocalRules/>
      <unstableReturn>255</unstableReturn>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# Simple AWS S3 optimizations
export AWS_MAX_ATTEMPTS=&quot;${AWS_MAX_ATTEMPTS:-10}&quot;
export AWS_RETRY_MODE=&quot;${AWS_RETRY_MODE:-adaptive}&quot;
export AWS_S3_MAX_CONCURRENT_REQUESTS=&quot;${AWS_S3_MAX_CONCURRENT_REQUESTS:-64}&quot;
export AWS_S3_MAX_QUEUE_SIZE=&quot;${AWS_S3_MAX_QUEUE_SIZE:-10000}&quot;
export AWS_S3_MULTIPART_THRESHOLD=&quot;${AWS_S3_MULTIPART_THRESHOLD:-64MB}&quot;
export AWS_S3_MULTIPART_CHUNKSIZE=&quot;${AWS_S3_MULTIPART_CHUNKSIZE:-64MB}&quot;
export AWS_CLI_CONNECT_TIMEOUT=&quot;${AWS_CLI_CONNECT_TIMEOUT:-10}&quot;
export AWS_CLI_READ_TIMEOUT=&quot;${AWS_CLI_READ_TIMEOUT:-0}&quot;


# upload decoded files
export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`

aws s3 cp --no-progress completed/ s3://avillach-73-bdcatalyst-etl/${abv_name,,}/decoded_data/ --recursive

unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY
unset AWS_SESSION_TOKEN</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.49">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>